Repository aabeborn/ollie-radio: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint --

.lintstagedrc:

{
  "*.{js,cjs,ts,tsx}": ["pnpm format", "pnpm lint --"],
  "*.json": ["pnpm format"]
}

chore(code-style): add tailwind to prettier configuration
  .changeset/config.json
  .changeset/rotten-pets-invite.md
  .lintstagedrc
  package.json
  packages/code-style/package.json
  packages/code-style/prettier.js
  pnpm-lock.yaml
Due: pnpm format, pnpm lint --

chore(code-style): add tailwind to prettier configuration (#1)
  .changeset/config.json
  .changeset/rotten-pets-invite.md
  .lintstagedrc
  package.json
  packages/code-style/package.json
  packages/code-style/prettier.js
  pnpm-lock.yaml
Due: pnpm format, pnpm lint --

feat: add nextjs app
  apps/nextjs/.gitignore
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/postcss.config.js
  apps/nextjs/public/next.svg
  apps/nextjs/public/vercel.svg
  apps/nextjs/src/app/favicon.ico
  apps/nextjs/src/app/globals.css
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/app/page.tsx
  apps/nextjs/tailwind.config.js
  apps/nextjs/tsconfig.json
Due: pnpm format, pnpm lint --

chore: update typescript config and minor changes
  .changeset/curly-ways-remember.md
  .lintstagedrc
  apps/nextjs/package.json
  package.json
  packages/code-style/eslint.cjs
  packages/code-style/package.json
  turbo.json
Due: pnpm format, pnpm lint --

feat: create next app(#2)
  .changeset/curly-ways-remember.md
  .lintstagedrc
  apps/nextjs/.gitignore
  apps/nextjs/next.config.js
  apps/nextjs/package.json
  apps/nextjs/postcss.config.js
  apps/nextjs/public/next.svg
  apps/nextjs/public/vercel.svg
  apps/nextjs/src/app/favicon.ico
  apps/nextjs/src/app/globals.css
  apps/nextjs/src/app/layout.tsx
  apps/nextjs/src/app/page.tsx
  apps/nextjs/tailwind.config.js
  apps/nextjs/tsconfig.json
  package.json
  packages/code-style/eslint.cjs
  packages/code-style/package.json
  turbo.json
Due: pnpm format, pnpm lint --

fix: update release action
  .github/workflows/release.yml
Due: none

fix: update release action (#3)
  .github/workflows/release.yml
Due: none

fix: make the code-style package public
  packages/code-style/package.json
Due: pnpm format

fix: make code-style package public (#4)
  packages/code-style/package.json
Due: pnpm format

release: first code-style release
  .changeset/curly-ways-remember.md
  .changeset/rotten-pets-invite.md
  .changeset/tame-brooms-retire.md
  packages/code-style/package.json
Due: pnpm format

release: first code-style release (#5)
  .changeset/curly-ways-remember.md
  .changeset/rotten-pets-invite.md
  .changeset/tame-brooms-retire.md
  packages/code-style/package.json
Due: pnpm format

release: code-style@1.0.0
  packages/code-style/CHANGELOG.md
  packages/code-style/package.json
Due: pnpm format

chore:update release action
  .changeset/tame-brooms-retire.md
  .github/workflows/release.yml
Due: none

chore: fix release action
  .github/workflows/release.yml
Due: none

fix: fix nextjs app configuration files
  apps/nextjs/postcss.config.cjs
  apps/nextjs/tailwind.config.cjs
Due: pnpm format, pnpm lint --

feat: improve nextjs code-style config
  .changeset/fast-moose-act.md
  packages/code-style/eslint.cjs
  packages/code-style/package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm lint --

feat: improve nextjs code-style config (#7)
  .changeset/fast-moose-act.md
  packages/code-style/eslint.cjs
  packages/code-style/package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm lint --
